body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  display: flex;
  flex-direction: column;
  border: 1px solid black;

}
.header{
  background-color: black;
  color: white;
  width: 1000px;
  padding: 7px;
  font-size: 18px;
}
.content{
  display: flex;
  flex-direction: row;
}
.content main{
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 20px;
  margin-right: unset;
  min-height: 600px;
  width: 600px;
}

.content aside{
  margin: 20px;
  border: 1px black solid;
  min-height: 300px;
  min-width: 300px;
  padding: 20px;
}
.content aside div{
  display: flex;
  margin:2px;
  margin-bottom: 4px;
  font-weight: bold;
}
.nav_checkList{
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: 30px;
}
.nav_checkList input{
  width: 20px;
  height: 20px;
}
.redBlock{
  width: 20px;
  height: 20px;
  border: red 3px solid;
  display: inline-block;
}

.blueBlock{
  width: 20px;
  height: 20px;
  border: blue 3px solid;
  display: inline-block;
}
.greenBlock{
  width: 20px;
  height: 20px;
  border: green 3px solid;
  display: inline-block;
}
.blackBlock{
  width: 20px;
  height: 20px;
  border: black 3px solid;
  display: inline-block;
}
.heatMapBox{
  width: 140px;
  height: 150px;
  border: red 3px solid;
  z-index: 2;
  position: absolute;
  left: 138px;
  bottom: 342px;
}
.tmpBox1{
  width: 140px;
  height: 150px;
  border: blue 3px solid;
  z-index: 2;
  position: absolute;
  left: 50px;
  bottom: 100px;
}
.tmpBox2{
  width: 200px;
  height: 200px;
  border: green 3px solid;
  z-index: 2;
  position: absolute;
  left: 357px;
  bottom: 91px;
}
.tmpBox3{
  width: 200px;
  height: 200px;
  border: black 3px solid;
  z-index: 2;
  position: absolute;
  left: 238px;
  bottom: 364px;
}
